**/out_531
**/out_585
**/out_586
**/out_DA14531
**/out_DA14585
**/out_DA14586
**/JLink*
**/*uvguix*
**/*scvd
**/*.sct
.DS_Store
**/DA14531
**/DA14585
**/build
**/.settings
*.secrets
.github/config/build-list.txt
.github/artifacts
**/.DS_Store
**/.settings
**/build_clang
**/build_test
**/DA14531
