<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dialogsemi.capacative_sensor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dialog capacative sensor</name>
    <description>
        A proof of concept using the DA14531 and the FDC2112.
    </description>
    <author email="support@diasemi.com" href="http://diasemi.com">
        Dialog Semiconductor
    </author>
    <icon src="Dialog-icon.jpg" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-ble-central" spec="^1.2.2" />
    <plugin name="cordova-plugin-device" spec="~2.0.3-dev" />
</widget>
